<h1>Your Profile:</h1>
<h3>Name: <%= @user.full_name %></h3>

<h2>Tournaments</h2>

<% @user.tournaments.each do |tournament| %>
  <p><%= link_to "#{tournament.title}", tournament_path(tournament) %></p>
<% end %>
