<h1 class="inline">Tournaments</h1> <%= link_to "Add A Tournament", new_user_tournament_path(current_user) %>

<% @tournaments.each_with_index do |tournament, index| %>
  <p><%= index + 1 %>. <%= link_to "#{tournament.title}", tournament_path(tournament) %></p>
<% end %>

<% content_for :footer do %>
  <br>
  <br>
<% end %>
