<h1><%= @tournament.title %></h1>

<p><%= link_to "Add Match", new_match_path(:tournament_id => @tournament.id) %></p>
<p><%= link_to "Edit Tournament", edit_tournament_path(@tournament) %></p>
<p><%= link_to "Delete Tournament", tournament_path(@tournament), method: :delete %></p>
